[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pravinraj-autoninja
[access "refs/for/refs/*"]
	read = group user/pravinraj-autoninja
	push = group user/pravinraj-autoninja
	label-Code-Review = -2..+2 group user/pravinraj-autoninja
	label-Verified = -1..+1 group user/pravinraj-autoninja
	rebase = group user/pravinraj-autoninja
	removeReviewer = group user/pravinraj-autoninja
	submit = group user/pravinraj-autoninja
[access "refs/heads/*"]
	read = group user/pravinraj-autoninja
	create = group user/pravinraj-autoninja
	push = +force group user/pravinraj-autoninja
	pushMerge = group user/pravinraj-autoninja
[access "refs/tags/*"]
	push = +force group user/pravinraj-autoninja
	pushTag = group user/pravinraj-autoninja
	pushSignedTag = group user/pravinraj-autoninja
